.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}